<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<body>
    <header>
        <h1>Welcome to admin panel</h1>
    </header>
    <main>
        <% if (users.length > 0) { %>
            <h2>Users</h2>
            <ul>
                <% users.forEach(function(user) { %>
                    <li><%= user.username %></li>
                    <a href="/admin/delete-user/<%= user._id %>">delete</a>
                    <a href="/admin/edit-user/<%= user._id %>">edit</a>
                <% }); %>
            </ul>
        <% } %>
        <form action="/admin/add-user" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <button type="submit">add user</button>
        </form>        
    </main>
    <footer>
        <p>&copy; 2024 Demissenov Danial SE-2206</p>
    </footer>
</body>
</html>
